/* style.css */

body {
    margin: 0;
    padding: 0;
    background-color: rgba(8, 187, 242, 0.318);
    background-size: cover;
    background-attachment: fixed;
  }
  
.top {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
  }
 
  .saisaisho{
    margin-top:5px;
    padding:0px 0px 0px 10px ;
    font-size:12px;
  }
.saisho {
    font-size: 25px;
    margin: 0;
    padding: 0 20px 0px 40px;
  }
  
.navigation {
    display: flex;
  }
  
.nav-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 0 15px;
  }

 

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    width: 1220px;
    height: 600px;
    object-fit: cover;
    object-position: top center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.text-content {
  flex: 1;
}

.image-content {
  flex: 1;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 20px;
}

.kuuhaku{
  padding:1000px 0px
}
  
